.Rate {
  grid-area: Rate;
}

.Rate header {
  margin: 24px 42px 0 42px;
}

.Rate .Rate__title {
  font-weight: bold;
  font-size: 25px;
  color: #858997;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}

.Rate .Rate__value {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Rate .Rate__value span:first-child {
  margin-bottom: 56px;
  font-weight: 500;
  font-size: 16px;
  color: #15181A;
}

.Rate .Rate__value span:last-child {
  font-weight: 500;
  font-size: 32px;
  color: #15181A;
}

@media (max-width: 1170px) {
  .Rate header {
    margin: 8px 24px 0 24px;
  }
}

/*@media (prefers-color-scheme: dark) {*/
/*  .Rate .Rate__value span:first-child {*/
/*    color: #fafafa;*/
/*  }*/

/*  .Rate .Rate__value span:last-child {*/
/*    color: #fafafa;*/
/*  }*/
/*}*/
